@{
    ViewBag.Title = "View1";
}



@*@using(Html.BeginForm("Impersonate","Account", FormMethod.Get)){

    <div>
        התחזות למשתמש <input type="text" name="userName" /><input type="submit" value="שלח"/>
    </div>
    }*@



<section role="main" class="main_content clearfix">
    <div class="fixedWidth">
        <div class="formContainer myAccountContainer">
            <div class="myAccountHeader clearfix">
                <div class="clearfix">
                    <div class="myAccountHeaderRight floatR arial">
                        <div class="myAccountHeader">
                            <h1 class="mentor_header margin0 inlineBlock">החשבון שלי</h1>
                            <span class="myAccountHeaderUserNameContainer">
                                <input id="myAccountUserName" type="text" class="noStyleInput" value="natan.test.com">
                                - <span class="myAccountName">נתן הלפמן</span>
                            </span>
                        </div>
                        <div class="myAccountDates">
                            <label for="">
                                מ
                            </label>
                            <div class="inputWrapper inlineBlock clearfix">
                                <input type="text" style="" class="icon_calendar_input" value="">
                            </div>
                            <label for="">
                                עד
                            </label>
                            <div class="inputWrapper inlineBlock clearfix">
                                <input type="text" value="" class="icon_calendar_input">
                            </div>
                            <!--add upArrow class to change arrow position-->
                            <a class="btn_mentor arrowBtn greyBtn" href="javascript:void(0)">סדר</a>

                            <a href="javascript:void(0)" class="btn_mentor greyBtn">מלא</a>

                            <span class="PreviousSum font14">
                                יתרה קודמת:
                                <span class="bordo">8- ₪</span>
                            </span>
                        </div>
                    </div>
                    <div class="myAccountHeaderLeft floatL arial">
                        <div>
                            <label for="eventCodeInput">
                                אירוע
                            </label><div class="eventCodeInputWrapper inputWrapper clearfix inlineBlock">
                                <input id="eventCodeInput" type="text" value="">
                            </div>
                        </div>
                        <div class="currencyCheckBoxWrapper">
                            <label for="currencyCheckBox">₪</label>
                            <input id="currencyCheckBox" type="checkbox">
                            <a class="btn_mentor" href="javascript:void(0)">הצג</a>
                        </div>
                    </div>
                </div>
                <div class="myAccountFillters arial clearfix">
                    <div class="myAccountFilltersColumn myAccountFilltersColumnFirst">
                        <div class="myAccountFillter">
                            <label for="">
                                רכישות
                            </label>
                            <input type="checkbox">
                            <select>
                                <option>כל הסוגים</option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                        </div>
                        <div class="myAccountFillter">
                            <label for="">
                                קופונים
                            </label>
                            <input type="checkbox">
                            <select>
                                <option>כל הסוגים</option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                        </div>
                        <div class="myAccountFillter">
                            <label for="">
                                אירועים
                            </label>
                            <input type="checkbox">
                            <select>
                                <option>כל הסוגים</option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                        </div>
                        <div class="myAccountFillter">
                            <label for="">
                                תשלומים
                            </label>
                            <input type="checkbox">
                            <select>
                                <option>כל הסוגים</option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                        </div>
                        <div class="myAccountFillter">
                            <label for="">
                                משתמשים
                            </label>
                            <input type="checkbox">
                            <select>
                                <option>כל הסוגים</option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="myAccountFilltersColumn">
                        <div class="myAccountFillter">
                            <label for="">
                                שיעורים
                            </label>
                            <input type="checkbox">
                            <select>
                                <option>כל הסוגים</option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                        </div>
                        <div class="myAccountFillter">
                            <label for="">
                                חבילות
                            </label>
                            <input type="checkbox">
                            <select>
                                <option>כל הסוגים</option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>

                        </div>
                        <div class="myAccountFillter">
                            <label for="">
                                לוג
                            </label>
                            <input type="checkbox">
                            <select>
                                <option>כל הסוגים</option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                        </div>
                        <div class="myAccountFillter">
                            <label for="">
                                עו"ש
                            </label>
                            <input type="checkbox">
                            <select>
                                <option>כל הסוגים</option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                            &nbsp;
                            <select>
                                <option>כל הסטטוסים </option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="MyAccountTableContainer clearfix">
                <div class="MyAccountTableSummary arial">
                    <span class="summaryLabel">סה"כ שורות:</span>
                    <span class="summaryNumber">9999</span>

                    <span class="summaryLabel">סה"כ זכות:</span>
                    <span class="summaryNumber">999.99 ₪</span>

                    <span class="summaryLabel">סה"כ חובה:</span>
                    <span class="summaryNumber">999.99 ₪</span>

                    <span class="summaryLabel">הפרש:</span>
                    <span class="summaryNumber">999.99 ₪</span>

                </div>
                <div class="lessonWrapper">
                    <div class="lessonTop nohover">
                        <table cellspacing="0" cellpadding="0" border="0" class="lessonTable arial">
                            <tbody>
                                <tr class="lessonTableHeader">
                                    <td class="MyAccountTypeItem">
                                        <div class="MyAccountTypeItemPadding">
                                            סוג
                                        </div>
                                    </td>
                                    <td class="MyAccountUserItem">
                                        <div class="MyAccountUserItemPadding">
                                            משתמש
                                        </div>
                                    </td>
                                    <td class="MyAccountDateItem">
                                        <div class="MyAccountDateItemPadding">
                                            תאריך
                                        </div>
                                    </td>
                                    <td class="MyAccountActionItem">
                                        <div class="MyAccountActionItemPadding">
                                            פעולה
                                        </div>
                                    </td>
                                    <td class="MyAccountItem">
                                        <div class="MyAccountItemPadding">
                                            פריט
                                        </div>
                                    </td>
                                    <td class="MyAccountStatusItem">
                                        <div class="MyAccountStatusItemPadding">
                                            סטטוס
                                        </div>
                                    </td>
                                    <td class="MyAccountSumItem">
                                        <div class="MyAccountSumItemPadding">
                                            סכום
                                        </div>
                                    </td>
                                    <td class="MyAccountSumLeftItem">
                                        <div class="MyAccountSumLeftItemPadding">
                                            יתרה
                                        </div>
                                    </td>
                                    <td class="MyAccountNoteItem">
                                        <div class="MyAccountNoteItemPadding">
                                            הערות
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="MyAccountTypeItem">
                                        <div class="MyAccountTypeItemPadding">
                                        </div>
                                    </td>
                                    <td class="MyAccountUserItem">
                                        <div class="MyAccountUserItemPadding">
                                        </div>
                                    </td>
                                    <td class="MyAccountDateItem">
                                        <div class="MyAccountDateItemPadding">
                                        </div>
                                    </td>
                                    <td class="MyAccountActionItem">
                                        <div class="MyAccountActionItemPadding">
                                        </div>
                                    </td>
                                    <td class="MyAccountItem">
                                        <div class="MyAccountItemPadding">
                                            -- יתרה קודמת --
                                        </div>
                                    </td>
                                    <td class="MyAccountStatusItem">
                                        <div class="MyAccountStatusItemPadding">
                                        </div>
                                    </td>
                                    <td class="MyAccountSumItem">
                                        <div class="MyAccountSumItemPadding">
                                        </div>
                                    </td>
                                    <td class="MyAccountSumLeftItem">
                                        <div class="MyAccountSumLeftItemPadding bordo ">
                                            8- ₪
                                        </div>
                                    </td>
                                    <td class="MyAccountNoteItem">
                                        <div class="MyAccountNoteItemPadding">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="MyAccountTypeItem">
                                        <div class="MyAccountTypeItemPadding">
                                            קופון
                                        </div>
                                    </td>
                                    <td class="MyAccountUserItem">
                                        <div class="MyAccountUserItemPadding">
                                            נתן הלפמן
                                        </div>
                                    </td>
                                    <td class="MyAccountDateItem">
                                        <div class="MyAccountDateItemPadding">
                                            11/3/2015
                                        </div>
                                    </td>
                                    <td class="MyAccountActionItem">
                                        <div class="MyAccountActionItemPadding whiteTooltipClickable hasHiddenToolTip">
                                            קופון -
                                            הנחה מיוחדת - 454.77 ₪
                                            <span class="hiddenToolTip">
                                                <b>קוד קופון</b>: H43ytk870
                                                <br />
                                                <b>סוג</b>: הנחת מורה מיוחדת
                                                <br />
                                                <b>חבילה</b>: H43ytk870
                                                <br />
                                                <b>שיעור</b>:
                                                <br />
                                                <b>כולל תמיכה</b>
                                                <br />
                                                <b>רוכש</b>: <a class="myAccountUser" href="javascript:void(0)">chumi@net.net</a>
                                                <br />
                                                <b>שם רוכש</b>: חומי שרעבי
                                                <br />
                                                <b>מקבל</b>: <a class="myAccountUser" href="javascript:void(0)">helfman@gmail.com</a>
                                                <br />
                                                <b>שם מקבל</b>: נתן הלפמן
                                                <br />
                                                <b>אירוע הקמה</b>: <a class="eventUpdate" href="javascript:void(0)">g67ytr43k</a>
                                                <br />
                                                <b>מחיר מקורי</b>: 160 ₪
                                                <br />
                                                <b>מחיר הנחה</b>: 124 ש"ח
                                                <br />
                                                <b>סטטוס</b>: נוצל
                                                <br />
                                                <b>תאריך ניצול</b>: <a class="myAccountDateUpdate" href="javascript:void(0)">23/5/2015</a>
                                                <br />
                                                <b>אירוע ניצול</b>: <a class="eventUpdate" href="javascript:void(0)">g67ytr43k</a>
                                                <br />
                                                <b>עמלת מורה</b>: 40 ₪
                                                <br />
                                                <b>עמלת אתר</b>: 60 ₪
                                            </span>
                                        </div>
                                    </td>
                                    <td class="MyAccountItem">
                                        <div class="MyAccountItemPadding">
                                            קופון: H43ytk870 לשיעור H43ytk870 ואתחנן

                                        </div>
                                    </td>
                                    <td class="MyAccountStatusItem">
                                        <div class="MyAccountStatusItemPadding">
                                            נוצל
                                        </div>
                                    </td>
                                    <td class="MyAccountSumItem">
                                        <div class="MyAccountSumItemPadding azure">
                                            124 ₪
                                        </div>
                                    </td>
                                    <td class="MyAccountSumLeftItem">
                                        <div class="MyAccountSumLeftItemPadding">
                                        </div>
                                    </td>
                                    <td class="MyAccountNoteItem">
                                        <div class="MyAccountNoteItemPadding">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="MyAccountTypeItem">
                                        <div class="MyAccountTypeItemPadding">
                                            רכישה
                                        </div>
                                    </td>
                                    <td class="MyAccountUserItem">
                                        <div class="MyAccountUserItemPadding">
                                            נתן הלפמן
                                        </div>
                                    </td>
                                    <td class="MyAccountDateItem">
                                        <div class="MyAccountDateItemPadding">
                                            12/3/2015
                                        </div>
                                    </td>
                                    <td class="MyAccountActionItem">
                                        <div class="MyAccountActionItemPadding">
                                        </div>
                                    </td>
                                    <td class="MyAccountItem">
                                        <div class="MyAccountItemPadding">
                                            חבילה: xt36yuyt8 בראשית, הפטרה ומפטיר,
                                        </div>
                                    </td>
                                    <td class="MyAccountStatusItem">
                                        <div class="MyAccountStatusItemPadding">
                                            נרכשה
                                        </div>
                                    </td>
                                    <td class="MyAccountSumItem">
                                        <div class="MyAccountSumItemPadding">
                                        </div>
                                    </td>
                                    <td class="MyAccountSumLeftItem">
                                        <div class="MyAccountSumLeftItemPadding">
                                        </div>
                                    </td>
                                    <td class="MyAccountNoteItem">
                                        <div class="MyAccountNoteItemPadding">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="MyAccountTypeItem">
                                        <div class="MyAccountTypeItemPadding whiteTooltipClickable" title="r45YUd58">
                                            עו"ש
                                        </div>
                                    </td>
                                    <td class="MyAccountUserItem">
                                        <div class="MyAccountUserItemPadding">
                                            נתן הלפמן
                                        </div>
                                    </td>
                                    <td class="MyAccountDateItem">
                                        <div class="MyAccountDateItemPadding whiteTooltip" title="יום ערך: 12/3/2015">
                                            12/3/2015*
                                        </div>
                                    </td>
                                    <td class="MyAccountActionItem">
                                        <div class="MyAccountActionItemPadding whiteTooltipClickable hasHiddenToolTip" title="">
                                            רכישת חבילה - תשלום רכישה
                                            <span class="hiddenToolTip">
                                                <b>קוד אירוע</b>: <a class="eventUpdate" href="javascript:void(0)">H43ytk870</a>
                                                <br />
                                                <b>סוג</b>: Coup_Purch
                                                <br />
                                                <b>יוצר</b>: <a class="myAccountUser" href="javascript:void(0)">chumi@net.net</a>
                                                <br />
                                                <b>שם יוצר</b>: חומי שרעבי
                                                <br />
                                                <b>נוצר ב</b>: <a class="myAccountDateUpdate" href="javascript:void(0)">5/4/2015</a>
                                                <br />
                                                <b>קוד תשלום</b>: g67ytr43k
                                                <br />
                                                <b>סטטוס</b>: success_event
                                                <br />
                                                <b>התחלה</b>: <a class="myAccountDateUpdate" href="javascript:void(0)">13/04/2014</a> 16:41:32:65
                                                <br />
                                                <b>סיום</b>: <a class="myAccountDateUpdate" href="javascript:void(0)">13/04/2014</a> 16:41:32:85
                                                <br />
                                                <b>קופון</b>: g67ytr43k
                                            </span>
                                        </div>
                                    </td>
                                    <td class="MyAccountItem">
                                        <div class="MyAccountItemPadding">
                                            חבילה: xt36yuyt8 בראשית, הפט...
                                        </div>
                                    </td>
                                    <td class="MyAccountStatusItem">
                                        <div class="MyAccountStatusItemPadding">
                                            סטאטוס
                                        </div>
                                    </td>
                                    <td class="MyAccountSumItem">
                                        <div class="MyAccountSumItemPadding">
                                            124- ₪
                                        </div>
                                    </td>
                                    <td class="MyAccountSumLeftItem">
                                        <div class="MyAccountSumLeftItemPadding">
                                            132- ₪
                                        </div>
                                    </td>
                                    <td class="MyAccountNoteItem">
                                        <div class="MyAccountNoteItemPadding whiteTooltip" title="הערה חשובה מאוד מאוד">
                                            הערה
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="lesson_navigation_wrapper">
                    <a href="#" class="icon_right_arrow"></a><span class="lesson_navigation">
                        <a href="#"
                           class="selected">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a>
                    </span><a href="#" class="icon_left_arrow"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/Scripts/plugins/jquery.dotdotdot.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('.MyAccountTypeItemPadding, .MyAccountUserItemPadding, .MyAccountActionItemPadding, .MyAccountItemPadding, .MyAccountNoteItemPadding').dotdotdot({
            //	configuration goes here
            watch: true,
            height: 20,
            tolerance: 7
        });

        $(document.body).on('click', '.eventUpdate', function (e) {
            var _this = $(this);
            $("#eventCodeInput").val(_this.text());
            if (!e.ctrlKey) {
                _this.closest('.ui-tooltip').find(".closeToolTip").click();
            }
            return false;
        });

        $(document.body).on('click', '.myAccountUser', function (e) {
            var _this = $(this);
            $("#myAccountUserName").val(_this.text());
            if (!e.ctrlKey) {
                _this.closest('.ui-tooltip').find(".closeToolTip").click();
            }
            return false;
        });

        $(document.body).on('click', '.myAccountDateUpdate', function (e) {
            var _this = $(this);
            $(".myAccountDates input").datepicker("setDate", _this.text());
            if (!e.ctrlKey) {
                _this.closest('.ui-tooltip').find(".closeToolTip").click();
            }
            return false;
        });

    });

</script>