@using MyMentor.BL.App_GlobalResources

<div class="homepageBannerImage" style="background: url('/content/images/Homepage/home_background_general.png') no-repeat center bottom; min-height: 180px;">
    <div class="homepageBanner fixedWidth clearfix">
        <div class="mainTitle">
            @MyMentorResources.worldBannerGeneralMainTitle
        </div>
        <div class="mainSubTitle">
            @MyMentorResources.worldBannerGeneralSubTitle
        </div>
    </div>
</div>